<div class="container mt-4">
    <div class = "card">
        <div class="card-body">
            <form action="/admin/novaCategoria" method="POST" >
                <label for="nome"> Nome:</label>
                <input type="text" class="form-control" name ="nome" />
                <br/>
                <label for="slug"> Slug:</label>
                <input type="text" class="form-control " name="slug"/>
            
                <button class="btn btn-primary mt-4" type="submit">Novo Item</button>
            </form>
        </div>
    </div>
</div>