<h4>Login</h4>
<div class="container">
    <div class="card">
        <div class="card-body">
            <form action="" method="POST">
                <label> E-mail</label>
                <input type="text" name="email" class="form-control">  
                <label> Senha</label>
                <input type="password" name="senha" class="form-control">  
                <button type="submit" class="btn btn-success">Fazer Login</button>
            </form>
        </div>
    </div>
</div>